@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
 width: 80%;
 margin: auto;
 min-height: 100vh;
 text-align: center;
 padding-top:2%;
}

.center{
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.niceFont{
  font-family: 'Architects Daughter', cursive;
}

.square{
  margin: 1%;
  padding: 0;
  width: 70px;
  height: 70px;
}

.squareIcon{
  margin: auto;
  padding: 0;
  width: 40px;
  height: 40px;
}

.cell{
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  color: white;
  margin: 2px;
  padding: 0;
  height: 100px;
  width: 100px;
  background-color: lightblue;
}

.cell:hover{
  background-color: lightgreen;
}

.cell_row{
display: flex;
flex-wrap: nowrap;
}

.together{
  display: flex;
  justify-content: space-around;
}

.icon{
  width: 20px;
}

.board{
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  align-items: center;
}

.logo{
  width: 150px;
  height: 150px;
}


#header_id{
  height: 200px;
}

.hiden{
  display: none;
}

.form_name_image{
  width: 20px;
}

label{
  text-align: left;
}

#names_on_board_div{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#winner_page{
  padding-top: 50px;
  height: 300px;
  background-color: lightblue;
}

button{
  margin-top: 20px;
}

#info_form_div{
  background-color: lightblue;


}

form{
  background-color: lightblue;
  width: 500px;
  margin: 0 auto;
  flex:left;
  padding-top: 50px;
  padding-bottom: 50px;
}

label{
  margin-top: 20px;
}

.new_reset_button{
  margin-right: 5%;
}